# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Typescript
*.tsbuildinfo

# IDEs
.idea
.vscode

# Database
server/database.sqlite
database.sqlite

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv
.ipynb_checkpoints

# ML models
*.keras

# Image
model/detect/val_predictions/
ml-service/body_assembly/runs
ml-service/body_assembly/samples
ml-service/paint/detect
ml-service/paint/sample_images
ml-service/press/sample_images
ml-service/temp
ml-service/welding_image/runs
ml-service/welding_image/sample_images

# Node
node_modules/

# package
frontend/package-lock.json

# backend
backend/src/main/resources/application.properties
backend/src/main/resources/application-local.properties